<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h1>El titulo de nuestro documento</h1>

    <h2>Un subtitulo</h2>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ad officia, maiores nulla nam, aspernatur earum dolor non nesciunt modi nisi beatae eaque hic.
        Eos minus accusantium repellendus ipsum eligendi eum.</p>
    
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
    </ul>
    <a href="http://www.facebook.com"> Hipervinculo a google </a>
    <img src="/img/IMG-20190701-WA0042.jpg">
    <a href="https://www.google.com"> <img src="/img/WhatsApp Image 2021-06-29 at 11.56.00 AM.jpeg"></a>
</body>
</html>